<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.17.4.0" targetFramework="wp71" />
  <package id="MetroGridHelper" version="1.11" targetFramework="sl40-wp71" />
  <package id="NorthernLightsWP7Toolkit" version="2.0.4" targetFramework="wp71" />
  <package id="PropertyChanged.Fody" version="1.41.0.0" targetFramework="wp71" />
  <package id="PropertyChanging.Fody" version="1.25.3" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp71" />
  <package id="YLAD" version="2.1.0" targetFramework="wp71" />
</packages>