<MarketplaceDetails>
  <SmallAppTile>DoodleCycle-Dark.png</SmallAppTile>
  <LargeAppTile>DoodleCycleBackground-Dark.png</LargeAppTile>
  <PCAppTile>DoodleCycleMarketPlace-Dark.png</PCAppTile>
  <ScreenShots>StartPage.png;RideDetails.png;Settings.png;About.png;;;;;</ScreenShots>
</MarketplaceDetails>